export (af,afx,alleles,AFtest,agcounts,AllelesToTriangular,dgraffelmanweir.bi,dlevene,dlevene.bi,EAFExact,fisherz,fold,
        genlabels,he,HWABO,HWAIC,
        HWAlltests,
        HWAlr,HWAlrPlot,
        HWChisq,HWChisqStats,
        HWChisqMat,HWClo,HWClr,HWClrPlot,HWCondProbAB,HWD,HWData,HWEM,
	HWExact,HWExactPrevious,HWExactMat,HWExactStats,HWf,HWGenotypePlot,HWIlr,
        HWIlrPlot,HWLindley,HWLindley.cri,HWNetwork,HWLRtest,HWLRAllTests,HWLratio,HWMissing,
        HWPerm,HWPerm.mult,HWPower,HWPosterior,HWQqplot,HWStr,HWStrata,HWTernaryPlot,HWTriExact,
	ifisherz,is.mono,GenerateSamples,mac,maf,MakeCounts,MakeFactor,
        n.alleles,order.auto,order.x,qqunif,recode,shannon,
        strsort,ThetatoF,toTriangular,UniqueGenotypeCounts,vaf)
import (mice)
import (Rcpp)
import (Rsolnp)
import (nnet)
import (shape)
importFrom("graphics", "abline", "lines", "par", "plot", "points", "polygon", "segments", "text")
importFrom("stats", "aggregate", "dmultinom", "fisher.test", "integrate", "pbeta", "pchisq", "pt", "qchisq", "qnorm", "qt", "quantile",
           "rbeta", "rmultinom", "runif", "uniroot", "var")
importFrom("grDevices", "colorRamp", "colorRampPalette", "rgb")
useDynLib("HardyWeinberg")
importFrom("Rcpp", "sourceCpp")

