export (af,AFtest,agcounts,fisherz,HWAlltests,HWAlr,HWAlrPlot,HWChisq,HWChisqStats,HWChisqMat,HWClo,HWClr,HWClrPlot,HWCondProbAB,HWD,HWData,HWExact,HWExactPrevious,HWExactMat,HWExactStats,HWf,HWGenotypePlot,HWIlr,HWIlrPlot,HWMissing,HWPerm,HWPower,HWLratio,HWQqplot,HWTernaryPlot,ifisherz,GenerateSamples,mac,maf,MakeCounts,MakeFactor,recode,UniqueGenotypeCounts,vaf)
import (mice)
importFrom("graphics", "abline", "lines", "par", "plot", "points", "polygon", "text")
importFrom("stats", "aggregate", "fisher.test", "pchisq", "pt", "qchisq", "qnorm", "qt", "quantile", "rbeta", "rmultinom", "runif", "var")

